textarea {
    resize: none;
    width: 40%;
    height: 50px;
}
.field {
    border: 1px solid black;
    margin: 10px auto;

}
#field {
    display: inline-block;
    color: black;
    float: left;
    margin-left: 10px;

}
.read {
    display: inline-block;
    text-decoration: none;
    background: lawngreen;
    border: 2px solid black;
    border-radius: 5px;
    width: 95px;
    height: 25px;
    margin: 20px;
    float: right;
    padding: 1px 6px;
}
.button {
    background: orangered;
    border-radius: 5px;
    border: 2px solid black;
    width: 95px;
    height: 30px;
    margin: 20px;
    float:right;
}
