.active{
    border-radius:5px;
    border: 1px solid black;
    box-shadow: -4px 4px 1px 0 rgba(50, 50, 50, 0.75);
    font-size: 23px;

}
.Navigation {
    margin: 0 auto;
    height:100px;
    width: 60%;
    background: lightslategrey;
    display: flex;
    justify-content:center;
}
.ul {
    display: flex;
    width: 100%;

}
.nav {
    display: flex;
}
nav ul li {
    list-style: none;
    width: 120px;
    height: 120px;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;

}